<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.thym.android.core.AndroidLaunchConfigurationType">
<booleanAttribute key="org.eclipse.thym.android.core.ATTR_IS_DEVICE_LAUNCH" value="false"/>
<stringAttribute key="org.eclipse.thym.core.ATTR_BUILD_SCOPE" value="EXAMPLE"/>
</launchConfiguration>
